<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-priceStandard-edit" th:object="${priceStandard}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">寄件地：</label>
				<div class="col-sm-8">
					<div class="input-group">
						<input id="sendArea" name="sendArea" th:field="*{sendArea}" type="hidden" required>
                    	<input onclick="selectAreaTree('send')" id="sendAreaName" name="sendAreaName" th:field="*{sendAreaName}" type="text" placeholder="请选择" class="form-control">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">收件地：</label>
				<div class="col-sm-8">
					<div class="input-group">
						<input id="receiveArea" name="receiveArea" th:field="*{receiveArea}" type="hidden" required>
                    	<input onclick="selectAreaTree('receive')" id="receiveAreaName" name="receiveAreaName" th:field="*{receiveAreaName}" type="text" placeholder="请选择" class="form-control">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">费用类别：</label>
				<div class="col-sm-8">
					<select id="priceType" name="priceType" th:field="*{priceType}" th:with="type=${@dict.getType('ex_waybill_feetype')}" class="form-control">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">服务方式：</label>
				<div class="col-sm-8">
					<select id="serverType" name="serverType" th:field="*{serverType}" th:with="type=${@dict.getType('ex_waybill_deliverytype')}" class="form-control">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">物品类别：</label>
				<div class="col-sm-8">
					<select id="goodsType" name="goodsType" th:field="*{goodsType}" th:with="type=${@dict.getType('ex_waybill_goodstype')}" class="form-control">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">重量模式：</label>
				<div class="col-sm-8">
					<input id="weightMode" name="weightMode" th:field="*{weightMode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">有效期开始时间：</label>
				<div class="col-sm-8">
					<input id="validTimeStart" name="validTimeStart" th:value="${#dates.format(priceStandard.validTimeStart, 'yyyy-MM-dd')}" class="time-input form-control" placeholder="开始时间" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">有效期结束时间：</label>
				<div class="col-sm-8">
					<input id="validTimeEnd" name="validTimeEnd" th:value="${#dates.format(priceStandard.validTimeEnd, 'yyyy-MM-dd')}" class="time-input form-control" placeholder="结束时间" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">有效值：</label>
				<div class="col-sm-8">
					<div class="onoffswitch">
						<input th:field="*{valid}" id="valid" name="valid" type="hidden">
                        <input type="checkbox" th:checked="${priceStandard.valid == 1 ? true : false}" class="onoffswitch-checkbox" id="valid_checkbox">
                        <label class="onoffswitch-label" for="valid_checkbox">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                     </div>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "fin/priceStandard";
		$("#form-priceStandard-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-priceStandard-edit').serialize());
	        }
	    }
		
		
		///选中地区
		function selectAreaTree(sandr) {
			
			var priceId = $("#id").val();
			var type = "checkbox";
			
			/* if(sandr == "send"){
				type = "radio";
			} */
			
			var options = {
				title: '网点选择',
				width: "380",
				url: ctx + "fin/priceStandard/selectAreaTree/" + priceId + "?level=2&type=" + type + "&column=" + sandr,
				callBack: function (index, layero){
					var tree = layero.find("iframe")[0].contentWindow.$.tree;
					
					if(type == "checkbox"){
						var areaIds = tree.getCheckedNodes("id");
						var areaNames = tree.getCheckedNodes("name");
						var body = layer.getChildFrame('body', index);
		    			$("#" + sandr + "Area").val(areaIds);
		    			$("#" + sandr + "AreaName").val(areaNames);
		    			layer.close(index);
					}else{
						var body = layer.getChildFrame('body', index);
		    			$("#" + sandr + "Area").val(body.find('#treeId').val());
		    			$("#" + sandr + "AreaName").val(body.find('#treeName').val());
		    			layer.close(index);
					}
					
				}
			};
			$.modal.openOptions(options);
		}
		
		
		// 有效值改变
		$("#valid_checkbox").change(function(){
			$("#valid").val($(this).is(':checked') == true ? 1 : 0);
		});
		
	</script>
</body>
</html>
