<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ex.mapper.TrackMapper">
    
	<resultMap type="ScanInfo" id="ScanInfoResult">
		<result property="scanId"    		column="scan_id"    />
		<result property="waybillNo"    	column="waybill_no"    />
		<result property="scanType"    		column="scan_type"    />
		<result property="scanTime"    		column="scan_time"    />
		<result property="scanUserId"    	column="scan_user_id"    />
		<result property="scanUser" 		column="scan_user"    />
		<result property="scanDeptId"    	column="scan_dept_id"    />
		<result property="scanDept"			column="scan_dept"    />
		<result property="remark"    		column="remark"    />
		<result property="nextDeptId"    	column="next_dept_id"    />
		<result property="nextDept" 		column="next_dept"    />
		<result property="deliveryUserId"	column="delivery_user_id"    />
		<result property="deliveryUser"		column="delivery_user"    />
		<result property="signer"			column="signer"    />
	</resultMap>
	
	<sql id="selectScanInfoVo">
		select si.scan_id, si.waybill_no, si.scan_type, si.scan_time, si.scan_user_id, si.scan_dept_id, si.remark, si.next_dept_id, si.delivery_user_id, si.signer, 
			d1.dept_name as scan_dept,
			d2.dept_name as next_dept,
			u1.user_name as scan_user,
			u2.user_name as delivery_user
		from ex_scan_info si 
			left join sys_dept d1 on si.scan_dept_id=d1.dept_id 
			left join sys_dept d2 on si.next_dept_id=d2.dept_id 
			left join sys_user u1 on si.scan_user_id=u1.user_id
			left join sys_user u2 on si.delivery_user_id=u2.user_id
	</sql>
	
	<!-- 获取运单列表 -->
	<select id="selectScanInfoList" parameterType="String" resultMap="ScanInfoResult">
		<include refid="selectScanInfoVo"/>
		where si.waybill_no = #{waybillNo}
	</select>
	
  
</mapper>