<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-ecCompany-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">电商编号：</label>
				<div class="col-sm-8">
					<input id="ecCompanyId" name="ecCompanyId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">电商名称：</label>
				<div class="col-sm-8">
					<input id="ecCompanyName" name="ecCompanyName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">电商对接秘钥：</label>
				<div class="col-sm-8">
					<input id="secretKey" name="secretKey" class="form-control" type="text">
				</div>
			</div>
			
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">有效值：</label>
				<div class="col-sm-8">
					<input id="valid" name="valid" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "base/ecCompany"
		$("#form-ecCompany-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-ecCompany-add').serialize());
	        }
	    }
	</script>
</body>
</html>
