<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								<input type="text" name="orderNo" title="订单号" placeholder="订单号"/>
							</li>

							<li>
								<input type="text" class="time-input" name="orderDate" title="订单开始日期" placeholder="订单开始日期"/>
							</li>
							
							<li>
								<input type="text" class="time-input" name="orderDateTo" title="订单结束日期" placeholder="订单结束日期"/>
							</li>

							<li>
								<input type="text" name="ecCompanyId" title="电商ID" placeholder="电商ID"/>
							</li>

							<li>
								<select name="orderStatus" th:with="type=${@dict.getType('ex_order_status')}">
									<option value="">订单状态</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
								
							</li>

							<li>
								<select name="orderSource" th:with="type=${@dict.getType('ex_order_source')}">
									<option value="">订单来源</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>

							<li>
								<input type="text" name="custId" title="客户ID" placeholder="客户ID"/>
							</li>

							<li>
								<input type="text" name="senderName" title="寄件人姓名" placeholder="寄件人姓名"/>
							</li>

							<li>
								<input type="text" name="senderPhone" title="寄件人电话" placeholder="寄件人电话"/>
							</li>

							<li>
								<input type="text" name="senderPost" title="寄件邮编" placeholder="寄件邮编"/>
							</li>

							<li>
								<input type="text" name="receiverName" title="收件人" placeholder="收件人"/>
							</li>

							<li>
								<input type="text" name="receiverPhone" title="收件电话" placeholder="收件电话"/>
							</li>

							<li>
								<input type="text" name="receiverPost" title="收件邮编" placeholder="收件邮编"/>
							</li>

							<li>
								<select name="payType" th:with="type=${@dict.getType('ex_order_paytype')}">
									<option value="">支付方式</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="ex:order:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="edit()" shiro:hasPermission="ex:order:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="removeAll()" shiro:hasPermission="ex:order:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				
				<a class="btn btn-info btn-edit disabled" onclick="$.operate.look()" >
					<i class="fa fa-eye"></i> 查看
				</a>
				
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="ex:order:export">
						<i class="fa fa-download"></i> 导出
				</a>
				<a class="btn btn-warning btn-select disabled" onclick="javascript:dispSite()" shiro:hasPermission="ex:order:dispSite">
						<i class="fa fa-sitemap"></i> 调度网点
				</a>
				<a class="btn btn-warning btn-select disabled" onclick="javascript:dispSalesman()" shiro:hasPermission="ex:order:dispSalesman">
						<i class="fa fa-male"></i> 调度业务员
				</a>
				
				<a class="btn btn-info btn-select disabled" onclick="javascript:quickOrder()" shiro:hasPermission="ex:order:quick">
						<i class="fa fa-male"></i> 快速打单
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('ex:order:edit')}]];
        var removeFlag = [[${@permission.hasPermi('ex:order:remove')}]];
        var datas = [[${@dict.getType('ex_order_status')}]];
        
        var prefix = ctx + "ex/order";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "订单",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'orderid', 
					title : '订单id',
					visible: false
				},
				{
					field : 'orderNo', 
					title : '订单号',
					sortable: true
				},
				{
					field : 'waybillNo', 
					title : '运单号',
					sortable: true
				},
				{
					field : 'orderDate', 
					title : '订单日期',
					sortable: true
				},
				{
					field : 'ecCompanyId', 
					title : '电商id',
					sortable: true
				},
				{
					field : 'orderStatus', 
					title : '订单状态',
					sortable: true,
					formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas, row.orderStatus);
		            }
				},
				{
					field : 'orderSource', 
					title : '订单来源',
					sortable: true,
					formatter: function(value, row, index) {
		            	return $.table.selectDictLabel([[${@dict.getType('ex_order_source')}]], row.orderSource);
		            }
				},
				{
					field : 'custId', 
					title : '客户ID',
					sortable: true
				},
				{
					field : 'custName', 
					title : '客户名称',
					sortable: true
				},
				{
					field : 'senderName', 
					title : '寄件人姓名',
					sortable: true
				},
				{
					field : 'senderPhone', 
					title : '寄件人电话',
					sortable: true
				},
				{
					field : 'senderProv', 
					title : '寄件省',
					sortable: true,
					visible: false
				},
				{
					field : 'senderCity', 
					title : '寄件市',
					sortable: true,
					visible: false
				},
				{
					field : 'senderArea', 
					title : '寄件区/县',
					sortable: true,
					visible: false
				},
				{
					field : 'senderTown', 
					title : '寄件乡/镇/街',
					sortable: true,
					visible: false
				},
				{
					field : 'senderPost', 
					title : '寄件邮编',
					sortable: true,
					visible: false
				},
				{
					field : 'receiverName', 
					title : '收件人',
					sortable: true
				},
				{
					field : 'receiverPhone', 
					title : '收件电话',
					sortable: true
				},
				{
					field : 'receiverProv', 
					title : '收件省',
					sortable: true,
					visible: false
				},
				{
					field : 'receiverCity', 
					title : '收件市',
					sortable: true,
					visible: false
				},
				{
					field : 'receiverArea', 
					title : '收件区/县',
					sortable: true,
					visible: false
				},
				{
					field : 'receiverTown', 
					title : '收件乡/镇/街',
					sortable: true,
					visible: false
				},
				{
					field : 'receiverPost', 
					title : '收件邮编',
					sortable: true,
					visible: false
				},
				{
					field : 'deliverMoney', 
					title : '运费',
					sortable: true
				},
				{
					field : 'goodsMoney', 
					title : '物品价值',
					sortable: true
				},
				{
					field : 'goodsNum', 
					title : '物品数量',
					sortable: true,
					visible: false
				},
				{
					field : 'weight', 
					title : '重量',
					sortable: true
				},
				{
					field : 'payType', 
					title : '支付方式',
					sortable: true,
					formatter: function(value, row, index) {
		            	return $.table.selectDictLabel([[${@dict.getType('ex_order_paytype')}]], row.payType);
		            }
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="edit(\'' + row.orderid + '\', ' + row.orderStatus + ')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="remove(\'' + row.orderid + '\', ' + row.orderStatus + ')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        
        
        // 重写编辑
        function edit(id, status){
        	if(status == undefined){
        		status = $.table.selectColumns("orderStatus");
        	}
        	
        	if(status == 1 || status == 0){
        		$.operate.edit(id);
        	}else{
        		$.modal.alertError("状态不可修改");
        	}
        	
        }
        
        // 重写删除
        function removeAll(){
        	var status = $.table.selectColumns("orderStatus");
        	
        	if(status == 1 || status == 0){
        		$.operate.removeAll()
        	}else{
        		$.modal.alertError("无法删除");
        	}
        }
        
        // 删除
        function remove(id, status){
        	
        	if(status == 1 || status == 0){
        		$.operate.remove(id)
        	}else{
        		$.modal.alertError("无法删除");
        	}
        }
        
        
        //调度给网点
		function dispSite() {
		    var rows = $.table.selectColumns("orderid");
		    if (rows.length == 0) {
		        $.modal.alertWarning("请至少选择一条数据");
		        return;
		    }

			$.modal.openOptions({
				title: '选择调度网点',
				width: "380",
				url: ctx + "system/dept/selectDeptTree/100",
				callBack: function(index, layero){
					var tree = layero.find("iframe")[0].contentWindow.$._tree;
					if ($.tree.notAllowParents(tree)) {
						var body = layer.getChildFrame('body', index);
						
						var selectDeptId = body.find('#treeId').val();
						
						//调度
						$.ajax({
							url: ctx + "order/dispSite",
							type: "POST",
							data: {deptid: selectDeptId, orderids: rows+""},
							success: function(res){
								alert(res.msg);
								if(res.code == 0){
									$.table.refresh();
								}
								
							}
						});
						
		    			layer.close(index);
					}
				}
			});
		}
        
        
        
        
        //调度业务员
		function dispSalesman() {
		    var rows = $.table.selectColumns("orderid");
		    if (rows.length == 0) {
		        $.modal.alertWarning("请至少选择一条数据");
		        return;
		    }
		    

			$.modal.openOptions({
				title: '选择业务员',
				width: "380",
				url: ctx + "system/user",
				callBack: function(index, layero){
					var users = layero.find("iframe")[0].contentWindow.$.table.selectColumns("userId");
					if (users.length == 1) {
						
						//调度
						$.ajax({
							url: ctx + "order/dispSalesman",
							type: "POST",
							data: {userid: users + "", orderids: rows+""},
							success: function(res){
								alert(res.msg);
								if(res.code == 0){
									$.table.refresh();
								}
								
							}
						});
						
		    			layer.close(index);
					}
				}
			});
		}
        
        
        
        // 快速打单
        function quickOrder(){
        	
        	var rows = $.table.selectColumns("orderid");
		    if (rows.length == 0) {
		        $.modal.alertWarning("请至少选择一条数据");
		        return;
		    }
		    
		    $.post(prefix + "/quickOrder",{orderid: rows + ""}, function(res){
		    	if(res.code == 0){
					$.table.refresh();
					$.modal.alertSuccess("操作成功，运单号：" + res.data.waybillNo);
				}
		    });
        }
    </script>
</body>
</html>