<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								物料编号：<input type="text" name="matCode"/>
							</li>

							<li>
								数量：<input type="text" name="quantity"/>
							</li>

							<li>
								单价：<input type="text" name="unitPrice"/>
							</li>

							<li>
								金额：<input type="text" name="money"/>
							</li>

							<li>
								备注：<input type="text" name="remark"/>
							</li>

							<li>
								状态：<input type="text" name="status"/>
							</li>

							<li>
								申请人：<input type="text" name="applyEmp"/>
							</li>

							<li>
								申请时间：<input type="text" name="applyDate"/>
							</li>

							<li>
								申请网点：<input type="text" name="applySite"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="req:requisitionApprov:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="req:requisitionApprov:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="req:requisitionApprov:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="req:requisitionApprov:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('req:requisitionApprov:edit')}]];
        var removeFlag = [[${@permission.hasPermi('req:requisitionApprov:remove')}]];
        var prefix = ctx + "req/requisitionApprov";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "申购",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'reqCode', 
					title : '申购编号',
					visible: false
				},
				{
					field : 'matCode', 
					title : '物料编号',
					sortable: true
				},
				{
					field : 'quantity', 
					title : '数量',
					sortable: true
				},
				{
					field : 'unitPrice', 
					title : '单价',
					sortable: true
				},
				{
					field : 'money', 
					title : '金额',
					sortable: true
				},
				{
					field : 'remark', 
					title : '备注',
					sortable: true
				},
				{
					field : 'status', 
					title : '状态',
					sortable: true
				},
				{
					field : 'applyEmp', 
					title : '申请人',
					sortable: true
				},
				{
					field : 'applyDate', 
					title : '申请时间',
					sortable: true
				},
				{
					field : 'applySite', 
					title : '申请网点',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.reqCode + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.reqCode + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>