<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-purchaseApply-edit" th:object="${purchaseApply}">
            <input id="applyNo" name="applyNo" th:field="*{applyNo}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">物资编号：</label>
				<div class="col-sm-8">
					<input id="matCode" name="matCode" th:field="*{matCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">申请日期：</label>
				<div class="col-sm-8">
					<input id="applyDate" name="applyDate" th:field="*{applyDate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">申请人：</label>
				<div class="col-sm-8">
					<input id="applicant" name="applicant" th:field="*{applicant}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">申请部门：</label>
				<div class="col-sm-8">
					<input id="applyDept" name="applyDept" th:field="*{applyDept}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<input id="status" name="status" th:field="*{status}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">申请数量：</label>
				<div class="col-sm-8">
					<input id="quantity" name="quantity" th:field="*{quantity}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">单价：</label>
				<div class="col-sm-8">
					<input id="unitPrice" name="unitPrice" th:field="*{unitPrice}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">申请金额：</label>
				<div class="col-sm-8">
					<input id="applyAmount" name="applyAmount" th:field="*{applyAmount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "purchase/purchaseApply";
		$("#form-purchaseApply-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-purchaseApply-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
