<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								物资编号：<input type="text" name="matCode"/>
							</li>

							<li>
								申请日期：<input type="text" name="applyDate"/>
							</li>

							<li>
								申请人：<input type="text" name="applicant"/>
							</li>

							<li>
								申请部门：<input type="text" name="applyDept"/>
							</li>

							<li>
								状态：<input type="text" name="status"/>
							</li>

							<li>
								申请数量：<input type="text" name="quantity"/>
							</li>

							<li>
								单价：<input type="text" name="unitPrice"/>
							</li>

							<li>
								申请金额：<input type="text" name="applyAmount"/>
							</li>

							<li>
								备注：<input type="text" name="remark"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="purchase:purchaseApply:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="purchase:purchaseApply:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="purchase:purchaseApply:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="purchase:purchaseApply:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('purchase:purchaseApply:edit')}]];
        var removeFlag = [[${@permission.hasPermi('purchase:purchaseApply:remove')}]];
        var prefix = ctx + "purchase/purchaseApply";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "采购申请",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'applyNo', 
					title : '申请编号',
					visible: true
				},
				{
					field : 'matCode', 
					title : '物资编号',
					sortable: true
				},
				{
					field : 'applyDate', 
					title : '申请日期',
					sortable: true
				},
				{
					field : 'applicant', 
					title : '申请人',
					sortable: true
				},
				{
					field : 'applyDept', 
					title : '申请部门',
					sortable: true
				},
				{
					field : 'status', 
					title : '状态',
					sortable: true
				},
				{
					field : 'quantity', 
					title : '申请数量',
					sortable: true
				},
				{
					field : 'unitPrice', 
					title : '单价',
					sortable: true
				},
				{
					field : 'applyAmount', 
					title : '申请金额',
					sortable: true
				},
				{
					field : 'remark', 
					title : '备注',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.applyNo + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.applyNo + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>